html {
  font-size: 14px; }
  @media screen and (min-width: 600px) {
    html {
      font-size: calc( 14px + 8 * ((100vw - 600px) / 1320)); } }
  @media screen and (min-width: 1920px) {
    html {
      font-size: 22px; } }

h1 {
  font-size: 1.728rem; }

h2 {
  font-size: 1.44rem; }

h3 {
  font-size: 1.2rem; }

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  font-family: "Josefin Sans", sans-serif; }

time {
  font-size: 0.8rem;
  opacity: 0.75;
  font-weight: 400; }

small {
  font-size: 0.8rem; }

p {
  line-height: 1.6; }

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2b2b2b; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #d4d0ab; }

.token.punctuation {
  color: #fefefe; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa07a; }

.token.boolean,
.token.number {
  color: #00e0e0; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #abe338; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #00e0e0; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #ffd700; }

.token.keyword {
  color: #00e0e0; }

.token.regex,
.token.important {
  color: #ffd700; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

@media screen and (-ms-high-contrast: active) {
  code[class*="language-"],
  pre[class*="language-"] {
    color: windowText;
    background: window; }
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: window; }
  .token.important {
    background: highlight;
    color: window;
    font-weight: normal; }
  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.selector {
    font-weight: bold; }
  .token.attr-value,
  .token.comment,
  .token.doctype,
  .token.function,
  .token.keyword,
  .token.operator,
  .token.property,
  .token.string {
    color: highlight; }
  .token.attr-value,
  .token.url {
    font-weight: normal; } }

* {
  margin: 0; }

.progress {
  height: 5px;
  background-color: #00a14f;
  animation: progress 0.5s;
  animation-fill-mode: both; }

@keyframes progress {
  0% {
    transform: scaleX(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

body {
  font-family: "Literata", serif;
  color: #25295b;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0; }

.wrap {
  max-width: 40em;
  margin: 0 auto;
  padding: 2.025em;
  margin: 0 auto; }

a {
  color: #00a14f;
  transition: color 0.2s; }
  a:hover, a:focus {
    color: #006e36; }
  a:focus {
    outline: dashed 2px #00a14f; }

.post h1 {
  font-size: 2rem; }

.post h2 {
  font-size: 1.728rem; }

.post h3 {
  font-size: 1.44rem; }
  .post h3:hover .direct-link {
    opacity: 1; }

.post > * + * {
  margin-top: 1.35em; }

.post > h3 + * {
  margin-top: 0.6em; }

.post .direct-link {
  opacity: 0;
  transition: opacity 0.2s; }
  .post .direct-link:focus {
    opacity: 1; }

.post .table-wrap {
  overflow: auto; }
  .post .table-wrap table {
    max-width: 100%; }

.post img, .post pre, .post .table-wrap, .post iframe {
  max-width: calc(100% + 2.025em);
  margin-left: -1.0125em;
  margin-right: -1.0125em; }

.post table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; }
  .post table code {
    border: none;
    background: none; }

.post thead {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #cbcbcb; }

.post th, .post td {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em; }

header {
  margin-bottom: 1.35em;
  margin-top: 2.025em; }
  header h1 {
    font-size: 1.4rem; }

.home header {
  text-align: center; }
  .home header h1 {
    font-size: 2rem; }

footer {
  margin-top: 2.025em;
  padding-top: 2.025em;
  border-top: solid 1px #d3eee1; }

.me {
  padding-bottom: 2.025em;
  border-bottom: solid 1px #d3eee1;
  font-size: 1.2rem;
  text-align: center; }

.home-title {
  font-size: 1rem;
  margin-top: 2.025em; }

.postlist-item {
  margin-top: 0.9em; }
  .postlist-item:first-of-type {
    margin-top: 0; }

.back-to-home {
  margin-top: 2.025em; }
